body{
    margin: 0;
    padding: 0;
    color: #020410;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    display: flex;
    width: 100%;
}

section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


section.module p{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: #ece7d5;
}

section.module.parallax{
    display: flex;
    flex-direction: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
}

section.module.parallax-1{
    background-image: url(wallpaperflare.com_wallpaper\ \(2\).jpg);
}

section.module.parallax-2{
    background-image: url(wallpaperflare.com_wallpaper\ \(2\).jpg);
}

section.module.parallax-3{
    background-image: url(wallpaperflare.com_wallpaper\ \(2\).jpg);
}

section.module.parallax h1{
    color: #fff;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

.btn {
    background: #ffffffa1;
    color: black;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    margin: 20px;
}

.area-1, .area-2 {
    visibility: hidden;
}